@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@* <h3>@ViewData["Message"]</h3> *@

<div>
    <p>Raspador is an application that uses Entity Framework Core, Selenium, SQL Server, and Docker
        in an ASP.NET Core MVC web application to pull a user's portfolio information from Yahoo Finance.</p>
</div>
