@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@* <h3>@ViewData["Message"]</h3> *@

<address>
    <strong>email:</strong> <a href="mailto:jcmontoya@gmail.com">jcmontoya@gmail.com</a><br />
    <strong>twitter:</strong> <a href="https://twitter.com/jcmontoya831">&#64;jcmontoya831</a><br />
